<div style="background: #000;
            color: #FFF;
            margin: 0px;
                padding: 10px 0px 20px 0px;
            text-align: center;
                ">
    <h1>Week 5 - Homework</h1>
</div>

<hr>
<pre style="text-align: center;">
Exercise 1 due Monday before class time.
Exercise 2 due Tuesday before class time.
Exercise 3 due Wednesday before class time.
</pre>
<hr>

# Exercise 1

Create a function that calculates the double factorial of an odd number. The double factorial of `n` is denoted by `n!!` and is the product of all odd integers up to and including `n`. You can do it using recursion (for bonus points) or any other method you can come up with.

e.g.

```
9!! = 1 x 3 x 5 x 7 x 9 = 945
```

Output the following once your function works.

`double_factorial(13)`

In [ ]:
def double_factorial(n=13):
    pass
    if n == 0 or n == 1:
      #if number==0 or number==1:
      #n == 0 is even
      #n == is odd
        return 1
    else:
      #return number * double_fact (number-2)
      #need to ask why we minus 2
        return n * double_factorial(n-2)
double_factorial()

135135

In [ ]:
#test to see if it works
double_factorial(9)

945

# Exercise 2

Create the decorator function(s) that wraps the `hello` function in the following html tags.

hello() -> `<div><p><b>hello</b></p></div>`

In [ ]:
def hello():
    return "hello"

In [ ]:
def makebold(f):
    return lambda: "<div>" + f() + "</div>"
def makeitalic(f):
    return lambda: "<p><b>" + f() + "</b></p>"

@makebold
@makeitalic
def hello():
    return "hello"

print (hello())

<div><p><b>hello</b></p></div>

Ignore code below trying to decipher for learning purposes

In [ ]:
#code from stackoverflow


from datetime import datetime
 #function that returns date contains year, month, day, hour, minute, second, and microsecond.

def greet(name):
    return "Greetings, {}!".format(name)


def time_wrapper(fn):
    def new_function(*args, **kwargs):
      #Both Python *args and **kwargs let you pass a variable number of arguments into a function.
       #*args arguments have no keywords whereas
       #**kwargs arguments each are associated with a keyword
        msg = fn(*args, **kwargs)
        new_msg = "Time: {} {} ".format(datetime.now(), msg)

        return new_msg

    return new_function


greet = time_wrapper(greet)

print(greet("masnun"))

Time: 2021-10-17 15:52:19.847755 Greetings, masnun!

# Exercise 3

If we list all the natural numbers below 10 that are multiples of 3 or 5, we get 3, 5, 6 and 9. The sum of these multiples is 23.

Create a function that returns the sum of all the multiples of 3 or 5 below `n` where `n` is the inputted number.

e.g.

```
n=10 -> 23
n=25 -> 143
n=50 -> 543
n=100 -> 2318
```

In [ ]:
def sum_of_threes_and_fives(n=100):
    pass

sum_of_threes_and_fives()

In [ ]:
def multiples(m, count):
    for i in range(0,count*m,m):
        print(i)

print(multiples(2))

TypeError: ignored