# Exercise 1:

    What are the differences between a List and a Tuple?

In [ ]:
 #One is that Tuples themselves are immutable( though the element might not be)
 #Second is that tuples tend to be unpacked rather than iterated over, or accessed with indexes.

# Exercise 2:

    Please intialize a list, and then initialize a tuple.

In [ ]:
x = [1, 2, 3, 4, 5]
type(x)

list

In [ ]:
v = ("hello","yp\ou")
type(v)

tuple

# Exercise 3:
    
    Print a list, that contains all the indexes of elements with the value 100.

In [ ]:
list_to_iterate = [3, 45, 21, 85, 9, 20, 23,
                   9, 3, 96, 34, 69, 70, 90, 67, 60,
                   34, 51, 52, 20, 29, 23, 54, 84, 55,
                   82, 32, 8, 44, 30, 8, 94, 71, 62, 100,
                   69, 36, 73, 81, 19, 38, 22, 84, 1, 26, 80
                   , 73, 95, 53, 54, 25, 4, 43, 84, 72, 17, 53
                   , 84, 41, 37, 18, 50, 37, 90, 64, 17, 58, 12,
                   70, 67, 6, 76, 67, 20, 75, 16, 82, 26, 83, 10,
                   99, 64, 21, 65, 7, 45, 23, 12, 11, 80, 37, 10, 87,
                   66, 14, 8, 70, 21, 40]

goal = []


for i, num in enumerate(list_to_iterate):  #i = index  & nums = value
    if num == 100:  #if number is equal to 100
        goal.append(i) #put idex (which is i) in goal list
print(goal)

[34]

In [ ]:
#test enumerate
list(enumerate(list_to_iterate))

[(0, 3),
 (1, 45),
 (2, 21),
 (3, 85),
 (4, 9),
 (5, 20),
 (6, 23),
 (7, 9),
 (8, 3),
 (9, 96),
 (10, 34),
 (11, 69),
 (12, 70),
 (13, 90),
 (14, 67),
 (15, 60),
 (16, 34),
 (17, 51),
 (18, 52),
 (19, 20),
 (20, 29),
 (21, 23),
 (22, 54),
 (23, 84),
 (24, 55),
 (25, 82),
 (26, 32),
 (27, 8),
 (28, 44),
 (29, 30),
 (30, 8),
 (31, 94),
 (32, 71),
 (33, 62),
 (34, 100),
 (35, 69),
 (36, 36),
 (37, 73),
 (38, 81),
 (39, 19),
 (40, 38),
 (41, 22),
 (42, 84),
 (43, 1),
 (44, 26),
 (45, 80),
 (46, 73),
 (47, 95),
 (48, 53),
 (49, 54),
 (50, 25),
 (51, 4),
 (52, 43),
 (53, 84),
 (54, 72),
 (55, 17),
 (56, 53),
 (57, 84),
 (58, 41),
 (59, 37),
 (60, 18),
 (61, 50),
 (62, 37),
 (63, 90),
 (64, 64),
 (65, 17),
 (66, 58),
 (67, 12),
 (68, 70),
 (69, 67),
 (70, 6),
 (71, 76),
 (72, 67),
 (73, 20),
 (74, 75),
 (75, 16),
 (76, 82),
 (77, 26),
 (78, 83),
 (79, 10),
 (80, 99),
 (81, 64),
 (82, 21),
 (83, 65),
 (84, 7),
 (85, 45),
 (86, 23),
 (87, 12),
 (88, 11),
 (89, 80),
 (90, 37),
 (91, 10),
 (92, 87),
 (93, 66),
 (94, 14),
 (95, 8),
 (96, 70),
 (97, 21),
 (98, 40)]

In [ ]:
#test uppacking
a,b = (1, 2)
print(a)
print(b)

1
2

# Exercise 4

    Using List Comprehension, create a list that contains all the values between 1 and 100 that are divisible by both 3 and 5.

In [ ]:
l_c = [x for x in range(1,100) if x % 3 == 0 if x % 5 == 0]
#you dont have to use (and) in list comprehension
print(l_c)

[15, 30, 45, 60, 75, 90]

In [ ]:
l_c = [x for x in range(1,100) if x % 3 == 0 and x % 5 == 0]
print(l_c)

[15, 30, 45, 60, 75, 90]

# Exercise 5

    Iterate through the dictionary, and return the count of all values that contain the string
    "RGB"

In [ ]:
dict_to_iterate = {
    "RGeeBee":100,
    "Yellow":200,
    "Red":300,
    "Teal":400,
    "rgb":500,
    600:"RGB",
    300:"Waffles",
    "HiddenFigures":"Orange",
    "Wowza":"RGB"
}

counter = 0

In [ ]:
for value in dict_to_iterate.values():
    if 'RGB'in str(value):
        counter += 1
print(counter)

2

# Exercise 6
    
    Create a list using list comprehension that produces a 2D Array that looks like the following
        [[1,2,3],[4,5,6],[7,8,9]]

In [ ]:
new = [ [i+(3*j) for i in range(1,4)] for j in range(0,3)]
new

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

# Exercise 7

    Using list comprehension, create a new list from the existing list that capitalizes every element.

In [ ]:
old = ["what","how",100,True,"who","where",[100],'why']
new = [i.capitalize() for i in old if type(i) == str]
new

['What', 'How', 'Who', 'Where', 'Why']

## How to use list comprehension to make all items upper **case** **bold text**

In [ ]:
new_new = [i.upper()for i in old if type (i) == str]  #how to make every item in the list uppercase using list comprehension
new_new

['WHAT', 'HOW', 'WHO', 'WHERE', 'WHY']

## **How to make every item in the list lowercase using list comprehension**

In [ ]:
new_new_2 = [i.lower()for i in old if type (i) == str]  #how to make every item in the list lowercase using list comprehension
new_new_2

['what', 'how', 'who', 'where', 'why']

In [ ]:
new_new_2 = [i.title()for i in old if type (i) == str]  #how to make every item in the list Upper using list comprehension
new_new_2

['What', 'How', 'Who', 'Where', 'Why']

# Exercise 8

    Create a new dictionary from the exisiting dictionary that only contains the key value pairs, whoose sum is equal to 100

In [ ]:
old = {100:1,99:20,50:100,30:70,22:91,55:92,202:-102,89:11}
new = {}

In [ ]:
for key, value in old.items():
    if key + value == 100:
        new[key]=value
print(new)

{30: 70, 202: -102, 89: 11}

# Bonus Exercise 1

    Given a list of strings strs, group the anagrams together. You can return the answer in any order.

    An Anagram is a word or phrase formed by rearranging the letters of a different word or
    phrase, typically using all the original letters exactly once.
    
    EX:
    Input: strs = ["eat","tea","tan","ate","nat","bat"]
    Output: [["bat"],["nat","tan"],["ate","eat","tea"]]

# Bonus Exercise 2

    Given an integer array nums, find the contiguous subarray (containing at least one number) which has the largest sum and return its sum.
    
    A subarray is a contiguous part of an array.

# Bonus Exercise 3
    
    Given an integer array nums, return true if any value appears at least twice in the array, and return false if every element is distinct.

In [ ]:
def sort_array(source_array):
    odd_sort = sorted([num for num in x if num %2 != 0]) # set variable odd_sort to numbers not equal to modulo 2/even and wrapped in a sorted function to put in ascending order
    even_array = [num if num %2 == 0 else "#" for num]

SyntaxError: ignored