# Exercise 1:

    Identify the following parts of the next 3 code blocks.
    The << expression>>, the <<obj>>, the << statement >>, and the
    << iterable >>.
    Not all code blocks will contain all of these pieces.

In [ ]:
x = [1,2,3,4,5]

for number in x:
    print(number)

obj = number
iterable = x
statment = print number

1
2
3
4
5

In [ ]:
i = 10

while i > 0 :
    print("Nom nom")
    i = i-1

#while loop only have expressions and statements

In [ ]:
z = {"apples":10,"bananas":20,"cocoa":30}

for key in z:
    print(key)

# obj = key
# z = iterable
# statement = print key

apples
bananas
cocoa

# Exercise 2:

    Complete the following code block to print out all of the values in a dictionary.

In [ ]:
z = {"apples":10,"bananas":20,"cocoa":30}

for food in z:
    if "a" in food:  #if the letter "a" is in food listed in z
        print(food) #print all items with the letter a in it

#this only prints the items with the letter a in it but we need to keys also

apples
bananas
cocoa

In [ ]:
for key in z:
    print(key, ' : ', z[key]) #print the key

# loop over the keys in dictionary, access value & print line each line

apples  :  10
bananas  :  20
cocoa  :  30

In [ ]:
#pratice

a = {"pie":10,"pizza":7,"avacado":6}

for x in a:
    if "i" in x:
        print(x)

pie
pizza

In [ ]:
#how to print keys

for keyss in a:
    print (keyss)

pie
pizza
avacado

In [ ]:
#need to master this

for values in a:
    print (values, " : ", a[values])

pie : 10
pizza : 7
avacado : 6

# Exercise 3:

    Create a while loop that will print hello 10 times

In [ ]:
counter = 0 # starting number


while counter < 10:
    print("hello")
    counter = counter + 1 #plus one is added so we can count up to 10
    #important to have a counter or loop will not end

hello
hello
hello
hello
hello
hello
hello
hello
hello
hello

# Exercise 4:

    Create a while loop that will iterate through list_to_fix.
    It will add to the updated_list list all elements that do not contain the string apple.

In [ ]:
list_to_fix = ["apple",1,"apple",2,"apple","wow","apple","applepie",100,300,"fire"]
updated_list = []


while items in list_to_fix:
    #if "apple" in items:
    updated_list.append(items)

print(updated_list)

[]

In [ ]:
#axl example
list_to_fix = ["apple",1,"apple",2,"apple","wow","apple","applepie",100,300,"fire"]
updated_list = []


i = 0
end = len(list_to_fix)-1

while i <= end:
    if not ("apple" in str(list_to_fix[i])):
        updated_list.append(list_to_fix[i])
    i +=1

print(updated_list)

[1, 2, 'wow', 100, 300, 'fire']

# Exercise 5:

    Create a while loop that will add to the list all the integers from 1 to 100 that are divisible by 3 and 5.

In [ ]:
list_of_numbers = []

num = 1

while num < 101:
  if num % 3 == 0 and num % 5 == 0:
    list_of_numbers.append(num)
  num += 1

print(list_of_numbers)

[15, 30, 45, 60, 75, 90]

In [ ]:
for num in range(1, 100):
    if num %  and num % 5:


        continue
    print(num)

2
4
5
6
8
10
12
14
15
16
18
20
22
24
25
26
28
30
32
34
35
36
38
40
42
44
45
46
48
50
52
54
55
56
58
60
62
64
65
66
68
70
72
74
75
76
78
80
82
84
85
86
88
90
92
94
95
96
98

# Exercise 6:

# Bonus Exercise 1:

    Write a while loop that will iterate through a dictionary.
    It should add to the new_dictionary any key,value pairs that don't have the string
    "teehee" appearing in either the key or the value.

In [ ]:
old_dict = {"teehee":10,"apples":5,100:"teehee","teehee":"teehee","tehe":"hehe","100":True,"100":"teehee","Oreos":1000,"I eat teehees":"Do you?"}
new_dict = {}

# Bonus Exercise 2:

    Using ONLY while loops, for loops, and if statements to find the 2 dictionaries that have a matching value.

    Print the Index of the 2 dictionaries that have the same value and print the value match that it found.
    
    You should not nor do you need to use built in methods for this.

In [ ]:
list_of_dictionaries_to_search = [
    {"key1":100,"key3":"Wowza","Wowza":"Tofu"},
    {"carpool":"eww","waffles":"you_found_me",1000:10000},
    {100:"key1",200:"key2",300:"key3"},
    {100:32312431,200:200,300:300},
    {"key1":600,"key5":"key8"},
    {"cake":"you_found_me",},
    {"disguise":"zorro","hehehe":"don't look","i said":"stop looking!"},
]

# Bonus Exercise 3:
    Using loops, write a program that will reverse a given string.