<div style="background: #000;
            color: #FFF;
            margin: 0px;
                padding: 10px 0px 20px 0px;
            text-align: center;
                ">
    <h1>Lab</h1>
</div>

# Question 1

We'd like to create a function that takes a number and outputs the number with it's ordinal indictator (e.g. 1 -> 1st, 2 -> 2nd, and so on).

Walk us through the steps we might need to take. DO NOT write any code. Try writing what we call "pseudocode".

# Exercise 1

Create a function that takes two parameters and returns a list.

In [ ]:
def list_maker(b, c):
  new_list = [b, c]
  return new_list

In [ ]:
type(list_maker (1,2))

list

# Exercise 2

Create a function that will return the list of square roots from numbers from 1 to `n` (where `n` is the input)

In [ ]:
n = int(input())
square_lists = []

def square_root(n):
  for n in range(1, n+1):
    square_lists.append(n**(1/2))
  return square_lists
square_root(n)

9

[1.0,
 1.4142135623730951,
 1.7320508075688772,
 2.0,
 2.23606797749979,
 2.449489742783178,
 2.6457513110645907,
 2.8284271247461903,
 3.0]

In [ ]:
for i in range(1, 11):
    print(i)

1
2
3
4
5
6
7
8
9
10

# Exercise 3

Create a function that takes `n` as the input and returns a `n`x`n` matrix where all the values are zeros.

In [ ]:
n = int(input())

def matrix(n):
  l = []
  for i in range(n):
    list_of_z = [0]*n
    print(list_of_z)

matrix(n)

5
[0, 0, 0, 0, 0]
[0, 0, 0, 0, 0]
[0, 0, 0, 0, 0]
[0, 0, 0, 0, 0]
[0, 0, 0, 0, 0]