<div style="background: #000;
            color: #FFF;
            margin: 0px;
                padding: 10px 0px 20px 0px;
            text-align: center;
                ">
    <h1>Week 2 Class 3 Lab</h1>
</div>

# Question 1

When might you use a dictionary? Why? Explain in your own words

When the data has a unique reference that can be associated with the value. For example corralating data like color with vegatables

# Question 2

When might you use a set? Why? Explain in your own words.

You would can use sets to  remove duplicate values from a collection like a list and solve  math operations like unions and intersections.

# Exercise 1

Create a dictionary and populate it with keys from 0 to 9 and a default value of "None". Then set the values of all keys divisible by 2 to be the value times itself.

In [ ]:
d = {0 : None ,
     1 : None ,
     2 : None ,
     3 : None ,
     4 : None ,
     5 : None ,
     6 : None ,
     7 : None ,
     8 : None ,
     9 : None }

d

for key in d:
  if key/2 == 0:
    d[key]= key*key

print(d)

{0: 0, 1: None, 2: None, 3: None, 4: None, 5: None, 6: None, 7: None, 8: None, 9: None}

# Exercise 2

Given a list of words and utilizing set methods print the words that can be typed using letters of alphabet on only one row's of the (American) keyboard. You may use one character in the keyboard more than once.

In [ ]:
words = ['type', 'router', 'pine', 'dash', 'top', 'rower', 'freedom']

row1 = set ("qwertyuiop")
row2 = set ("asdfghjkl")
row3 = set ("zxcvbnmâ€™")

In [ ]:
for key in words:
  b1 = (row1.intersection(set(element)))==set(element)
  b2 = (row2.intersection(set(element)))==set(element)
  b3 = (row3.intersection(set(element)))==set(element)
  if (b1==True or b2==True or b3==True):
    print(element)

NameError: ignored

In [ ]:
for word in words:
  for letter in words:
    if row1.intersection (letter):
      print(word)
    break

type
router
pine
dash
top
rower
freedom

# Exercise 3

Given a list of students, find the students who favorite colors are the same utitlizng set methods. Print the name of the students who share similar tastes in colors.

In [ ]:
students = [{"name":"Rob","student_id": 115, "favorite_colors":{"red","green"}},{"name":"Clara","student_id": 15, "favorite_colors":{"blue","red","green"}}, {"name":"Sally","student_id": 21, "favorite_colors":{"black"}}, {"name":"Jim","student_id": 33, "favorite_colors":{"blue","green"}}]

print(students)

[{'name': 'Rob', 'student_id': 115, 'favorite_colors': {'green', 'red'}}, {'name': 'Clara', 'student_id': 15, 'favorite_colors': {'green', 'blue', 'red'}}, {'name': 'Sally', 'student_id': 21, 'favorite_colors': {'black'}}, {'name': 'Jim', 'student_id': 33, 'favorite_colors': {'green', 'blue'}}]

In [ ]:
boys = [{"name":"Rob","student_id": 115, "favorite_colors":{"red","green"}}, {"name":"Jim","student_id": 33, "favorite_colors":{"blue","green"}}]
girls = [{"name":"Clara","student_id": 15, "favorite_colors":{"blue","red","green"}}, {"name":"Sally","student_id": 21, "favorite_colors":{"black"}}]

In [ ]:
winner = boys & girls
print(winner)

TypeError: ignored