# Week 2 HW

Exercise 1 is due Monday.  
Exercise 2 is due Tuesday.  
Exercise 3 is due Wednesday.

# Exercise #1

### Given the following variable `money_moves`

In [ ]:
money_moves = ["fur coats","money fans","Diamonds","MoNeY FaNs","FUR COATS","barrels of gold"]

### a. Print the list of unique elements. Then output the length.

In [ ]:
#First find the non unique items of the orginal list
#deleted the words that were lower case because they are not unique
del money_moves[0:2]

print(money_moves)

['Diamonds', 'MoNeY FaNs', 'FUR COATS', 'barrels of gold']

In [ ]:
del money_moves[3]
print(money_moves)
#These values are unique because they are the only words capitalized

['Diamonds', 'MoNeY FaNs', 'FUR COATS']

In [ ]:
print(len(money_moves))

3

### b. Set the 4th and 5th elements of the original list in lowercase. Pop that value and append it to the end of the list. Print the list.

In [ ]:
#Due to the non unique words being deleted in example b I had to re-define the function
money_moves = ["fur coats","money fans","Diamonds","MoNeY FaNs","FUR COATS","barrels of gold"]

In [ ]:
money_moves.index("FUR COATS")

4

In [ ]:
for i in range(len(money_moves)):
    money_moves[i] = money_moves[i].lower()
print(money_moves)

['fur coats', 'money fans', 'diamonds', 'money fans', 'fur coats', 'barrels of gold']

In [ ]:
#assuming the 4th and 5th element is "MoNeY FaNs"& "FUR COATS"
money_moves.append("'money fans', 'fur coats'") #appending newly made lower case value to list

print(money_moves)

['fur coats', 'money fans', 'diamonds', 'money fans', 'fur coats', 'barrels of gold', "'money fans', 'fur coats'", "'money fans', 'fur coats'"]

### d. Create a new list, append odd number items from the original list`money_moves` and output the new list

In [ ]:
money_moves = ["fur coats","money fans","Diamonds","MoNeY FaNs","FUR COATS","barrels of gold"]

### e. Create a new dict. Add each item of `money_moves` to the dict using it's place in the list as the key for the dict. Print the dict.

In [ ]:
money_moves = ["fur coats","money fans","Diamonds","MoNeY FaNs","FUR COATS","barrels of gold"]
price = [ 500, 400, 1000, 450, 425, 5000 ]

In [ ]:
a1 = dict(zip(money_moves, price))
print(a1)

{'fur coats': 500, 'money fans': 400, 'Diamonds': 1000, 'MoNeY FaNs': 450, 'FUR COATS': 425, 'barrels of gold': 5000}

In [ ]:
type(a1)

dict

# Exercise 2

### Given the string below:

In [ ]:
original_string = "Supercalifragilisticexpialadocious"

### a. Extract the 3rd and 4th element separately. Return the two values in a tuple

In [ ]:

a = original_string[2] + " " + original_string [3]
a

'p e'

In [ ]:
tup = tuple(a)
tup

('p', ' ', 'e')

### b. Extract the 3rd through 5th element, inclusive.

In [ ]:
original_string [2:4]

['r', 'c']

### c. Extract the 3rd (inclusive) through 5th (exclusive) element.

In [ ]:
original_string = list(original_string)
d = original_string.pop(2)
c = original_string.pop(2)

print (d,c)

p e

### d. What is the index of "S"? How many elements in the list are "S"? Output the results as a tuple

In [ ]:
original_string = "Supercalifragilisticexpialadocious"
new_str1 = tuple (original_string)
new_str1

('S',
 'u',
 'p',
 'e',
 'r',
 'c',
 'a',
 'l',
 'i',
 'f',
 'r',
 'a',
 'g',
 'i',
 'l',
 'i',
 's',
 't',
 'i',
 'c',
 'e',
 'x',
 'p',
 'i',
 'a',
 'l',
 'a',
 'd',
 'o',
 'c',
 'i',
 'o',
 'u',
 's')

In [ ]:
new_str1.index("S")

0

### e. What are the last 3 elements of the string?

In [ ]:
#two different ways of getting the same  results
#single ince
original_string[-1]

's'

In [ ]:
original_string[-2]

'u'

In [ ]:
original_string[-3]

'o'

In [ ]:
original_string[-3:34]

'ous'

### f. Output the string backwards

In [ ]:
original_string[::-1]

['s',
 'u',
 'o',
 'i',
 'c',
 'o',
 'd',
 'a',
 'l',
 'a',
 'i',
 'p',
 'x',
 'e',
 'c',
 'i',
 't',
 's',
 'i',
 'l',
 'i',
 'g',
 'a',
 'r',
 'f',
 'i',
 'l',
 'a',
 'c',
 'r',
 'u',
 'S']

# Exercise 3

### Given the following code, fix it so the code outputs `"hello"`:

Hint: for each, you just have to edit one line of code

(Don't worry, you aren't meant to understand everything going on in them yet)

In [ ]:
def function(x):
    if type(x) == True or False:
        print(x)

x = ("hello")
x

'hello'

In [ ]:
s = ["h", "e", "l", "l", "o"]

print("".join(s))

hello

In [ ]:
a = True
b = False
c = True
d = False

In [ ]:
if a or b == d or d == b:
  print('hello')

hello

In [ ]:
class Example:
    def __init__(self, val):
        self.a = val and print("hello")
    def say_hi(self):
        print("hello") if self.a == "fixed" else print("")
    def hello(self):
        return "olleh".reverse()

e = Example("")
e.say_hi()