# Week 1 HW

**Exercise 1 and 3 are due Monday 9/20**  
**Exercise 2 and 4 are due Tuesday 9/21**  
**Exercise 5 and 6 are due Wednesday 9/22**

# Exercise 1

a. Set a variable to a user input.

In [ ]:
username = input ("enter_name")

enter_nameAntone

b. Set two variables in the same statement.

In [ ]:
variable1, variable2 = 1,2
print (variable1,variable2)

1 2

c. Create a variable with a value that when cast as a bool returns True.

In [ ]:
age = 100
print (age > 5)

True

d. If we add up all the numbers from 0 to 100, we get 5050.

What sum do we get if we add up all the numbers from 0 to 1000?

(Show your work)

In [ ]:
j = 0
sum = 0
while j < 1001:
  sum += j
  j += 1
print("sum", sum)

sum 500500

# Exercise 2

Convert the following logical statements into python. Print the result for each possible combination (TT, TF, FT, FF)

¬(p || q )

( p || q ) ⊕ ( p & q)

(p & ¬q ) || (¬p & q)

# Exercise 3

 a. Create an array of strings that consist of five individual zeros followed by five individual ones. Demonstrate that it's an array, and that this is an array of strings using a built-in python function.

In [ ]:
array = ["0","0","0","0","0","1","1","1","1"]
print (type ("0"))
print (type (array))
isinstance (array, type(array))

<class 'str'>
<class 'list'>

True

b. Create an array of integers that consists of the same. Output the number of elements in the array using a built-in python function

In [ ]:
array = ["7","7","7","7","7","7"]
x = array.count("7")
print(x)

6

c. Create an array of floats that consists of the same. Demonstrate that this array is one of floats using a built-in python function.

In [ ]:
array = [1.2,1.2,1.2,1.2]
print (type (1.2))
isinstance (array, type(array))

<class 'float'>

True

d. Create an array of bools that consists of the same. Demonstrate that this array is one of bools using a built-in python function.

In [ ]:
array = [1.2,1.2,1.2,1.2]
isinstance (array, type(array))

True

# Exercise 4

Without actually using Python, determine what the following would evaluate
to in Python and explain step-by-step how you arrived at this answer:

    a. (1 or ((0 or 0) or 1)) or 1
    b. ((1 or 0) or 0 or 1) or 1
    c. 1 or 0 or 0 or 1 or 1
    
Change the following cells to markdown and fill your answer in them.

# Exercise 5

To convert Fahrenheit to Celsius, you use the following formula:

$$
    C^{\circ} = \frac{ (F^{\circ} - 32)}{1.8}
$$

Given a Fahrenheit input `temperature`, write some python statements to print the temperature in Celsius.

In [ ]:
temperature = input("Enter temperature in Fahrenheit: ")

# Exercise 6

If given a height and a radius, print the volume of a cylinder.

$$
    V = \pi r^2h
$$

In [ ]:
height = input("Enter a height: ")
radius = input("Enter a radius: ")